# Android Build
/build
/*/build
*.iml
.gradle
/local.properties
.externalNativeBuild
.cxx
captures/

# IDE - Android Studio / IntelliJ
.idea/
*.ipr
*.iws

# Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# OS
.DS_Store
Thumbs.db
